{% extends "base.html.twig" %}


{% block main %}
    <main>
        <section class="section">
            {% for books in lastBooks %}
                <div class="card">
                    <div class="card-text">
                        <h2>{{ books.title }}</h2>
                        <h3>{{ books.author }}</h3>
                    </div>
                </div>
            {% endfor %}
            <a href="{{ path('books') }}">Voir tous les livres</a>
        </section>

        <section class="section">
            {% for author in lastAuthors %}
                <div class="card">
                    <div class="card-text">
                        <h2>{{ author.firstName }} {{ author.lastName }}</h2>
                        {% if author.deathDate %}
                            <h3>Mort le : {{ author.deathDate | date('D-m-Y') }}</h3>
                        {% else %}
                            Cet auteur est vivant
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <a href="{{ path('authors') }}">Voir tous les auteurs</a>
        </section>
    </main>
{% endblock main%}